.find-page-title h2 {
    color: #333;
    font-weight: normal; }
    @media only screen and (min-width: 992px) {
      .find-page-title h2 {
        float: left; } }
    .find-page-title h2 strong {
      color: #000;
      font-weight: 600; }
  
  .find-page-title h3 {
    color: #000;
    font-weight: normal;
    font-size: 16px; }
    @media only screen and (min-width: 992px) {
      .find-page-title h3 {
        float: right; } }
  
  .find-page-nav {
    float: left;
  margin-top: 20px; }
    @media only screen and (min-width: 992px) {
      .find-page-nav {
        float: left; } }

        .find-page-nav h3 {
          font-size: 16px;
        }
  
  /* .filter {
    display: table;
    margin-top: 20px; }
    .filter .filter-list {
      display: inline-block;
      position: relative; }

      .filter .filter-list .filter-action {
        padding: 10px 15px;
      background: #fff;
      margin-right: 5px;
      border: 1px solid #ccc;
      border-radius: 3px;
      cursor: pointer;
      display: block;
      }
      .filter .filter-list .filter-action:hover {
        -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1); }
      .filter .filter-list .filter-tag {
        background: black;
        color: #fff;
        position: absolute;
        top: -35px;
        padding: 5px 15px;
        text-align: center;
        display: block;
        z-index: 4;
        border-radius: 5px;
        cursor: default;
        visibility: hidden; }
        .filter .filter-list .filter-tag:after {
          content: "";
          position: absolute;
          border: 5px solid;
          border-color: black transparent transparent transparent;
          top: 100%;
          left: 50%; }
      .filter .filter-list .tag-one {
        width: 165px;
        left: -30px; }
      .filter .filter-list .tag-two {
        left: -40px; }
      .filter .filter-list .tag-three {
        left: -28px; }
      .filter .filter-list .tag-four {
        left: -15px; }
      .filter .filter-list .tag-five {
        left: -10px; }
      .filter .filter-list .tag-six {
        width: 280px;
        left: -85px; }
      .filter .filter-list .tag-seven {
        width: 300px;
        left: -100px; }
      .filter .filter-list .tag-eight {
        width: 300px;
        left: -100px; }
      .filter .filter-list .tag-nine {
        width: 280px;
        left: -80px;
        top: -55px; }
      .filter .filter-list .tag-ten {
        width: 295px;
        left: -90px;
        top: -55px; }
      .filter .filter-list:hover {
        -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1); }
        .filter .filter-list:hover .filter-tag {
          visibility: visible; }
    .filter .filter-list:nth-child(2) {
      background: transparent;
      border: 0;
      padding: 0; }
      .filter .filter-list:nth-child(2):hover {
        -webkit-box-shadow: none;
        box-shadow: none; }
      .filter .filter-list:nth-child(2) .filering-tag {
        border: 1px solid #ccc;
        border-radius: 3px; }
        .filter .filter-list:nth-child(2) .filering-tag li {
          margin: 0;
          margin-right: -5px;
          border: 0;
          border-right: 2px solid #ccc;
          border-radius: 0;
          position: relative; }
          .filter .filter-list:nth-child(2) .filering-tag li .filter-tag {
            background: black;
            color: #fff;
            position: absolute;
            top: -35px;
            padding: 5px 15px;
            text-align: center;
            z-index: 4;
            border-radius: 5px;
            cursor: default;
            visibility: hidden; }
            .filter .filter-list:nth-child(2) .filering-tag li .filter-tag:after {
              content: "";
              position: absolute;
              border: 5px solid;
              border-color: black transparent transparent transparent;
              top: 100%;
              left: 50%; }
          .filter .filter-list:nth-child(2) .filering-tag li:hover .filter-tag {
            visibility: visible; }
        .filter .filter-list:nth-child(2) .filering-tag li:last-child {
          margin-right: 0;
          border-right: 0; } */

          .filter {
            display: table;
            margin-top: 10px;
            margin-bottom: 15px;
          }

          .filter-list {
            display: inline-block;
            margin-right: 10px;
            margin-bottom: 10px;
            position: relative;
          }
          .filter-action {
            padding: 10px 15px;
            background: #fff;
            border: 1px solid #ccc;
            border-radius: 3px;
            display: block;
          }
          
        .filter-list ul {
          position: absolute;
          top: 100%;
          left: 0;
          z-index: 1;
          background: #fff;
          border: 1px solid #ddd;
          width: 100%;
          display: none;
        }

        .filter-list ul li a {
          display: block;
          padding: 5px 10px;
          border-bottom: 1px solid #ddd;
        }

        .filter-list ul li a:hover {
          background: #eee;
        }

        .filter-list ul li {
          list-style: none;
        }

        .filter-list ul li:last-child a {
          border-bottom: 0;
        }

        .filter-list:hover ul {
          display: block;
        }

        .filter h3 {
          display: inline-block;
          margin-right: 10px;
        }
  
  .bg-border-bottom {
    border-bottom: 1px solid #e6e6e6; }
  
  .find-second-section {
    padding-bottom: 20px; }
  
  .sponsor-title {
    float: left;
    width: 100%;
  margin-bottom: 15px; }
    .sponsor-title h2 {
      font-size: 18px;
      color: #333;
      float: left; }
    .sponsor-title p {
      float: left;
      margin-top: 17px;
      padding-left: 10px;
      color: #999;
      font-size: 18px;
      position: relative; }
      .sponsor-title p span {
        background: #fff;
        position: absolute;
        width: 300px;
        font-size: 15px;
        padding: 10px 15px;
        border: 1px solid #ccc;
        border-radius: 6px;
        top: -95px;
        left: -5px;
        -webkit-box-shadow: 0 0px 5px 0px rgba(0, 0, 0, 0.1);
        box-shadow: 0 0px 5px 0px rgba(0, 0, 0, 0.1);
        visibility: hidden; }
        .sponsor-title p span:before {
          font-family: "Font Awesome 5 Free";
          font-weight: 900;
          content: "\f0dd";
          position: absolute;
          top: 64px;
          left: 15px;
          font-size: 25px; }
      .sponsor-title p:hover span {
        visibility: visible; }
  
  .sponsor-media {
    float: left;
    width: 100%; }
    .sponsor-media .sponsor-media-left {
      float: left;
      width: 35%;
      position: relative; }
      
      .sponsor-media .sponsor-media-left figure {
        width: 230px;
        height: 230px;
        border-radius: 5px;
        overflow: hidden; }
        .sponsor-media .sponsor-media-left figure img {
          width: 100%;
          height: 100%; }
      .sponsor-media .sponsor-media-left .sponsor-media-carousel span {
        background: rgba(0, 0, 0, 0.4);
        color: #fff;
        padding: 10px 10px;
        font-size: 16px;
        position: absolute;
        margin-top: -25px;
        cursor: pointer; }
      .sponsor-media .sponsor-media-left .sponsor-media-carousel span:first-child {
        top: 50%;
        left: 0; }
      .sponsor-media .sponsor-media-left .sponsor-media-carousel span:last-child {
        top: 50%;
        right: 4px; }
    .sponsor-media .sponsor-media-body {
      float: left;
      padding-left: 20px;
      width: 65%; }

      
      .sponsor-media .sponsor-media-body h3 {
        margin-top: 0;
        margin-bottom: 5px; }
        .sponsor-media .sponsor-media-body h3 a:hover {
          color: #0088cc; }
        .sponsor-media .sponsor-media-body h3 span {
          color: #000; }
      .sponsor-media .sponsor-media-body .badge-review p {
        margin-bottom: 5px; }
      .sponsor-media .sponsor-media-body .dir-link a:hover {
        color: #0088cc; }
  
  .body-part-one {
    float: left; }
  
  .body-part-two {
    float: right;
    text-align: right; }

    @media only screen and (max-width: 767px) {
      .sponsor-media .sponsor-media-left {
        width: 100%;
        margin-bottom: 20px;
      }

      .sponsor-media .sponsor-media-body {
        width: 100% }

        .body-part-one {
          float: left;
        width: 100%; }
        
        .body-part-two {
          float: left;
          text-align: left;
        width: 100%;
      margin-top: 10px;
    margin-bottom: 10px; }
    }
    .body-part-two p {
      margin-bottom: 5px; }
  
  .body-para {
    float: left;
  width: 100%; }
    .body-para h4 {
      font-size: 15px;
      margin-top: 5px; }
    .body-para p {
      font-size: 15px; }
      .body-para p a:hover {
        color: #0088cc; }
  
  .order-card {
    background-color: #f5f5f5;
    padding: 10px 10px;
    width: 100%;
    float: left;
    margin-bottom: 8px; }
    .order-card p {
      float: left;
      margin: 0;
      padding-top: 6px; }
    .order-card button {
      float: right;
      background: #fff;
      padding: 5px 15px;
      border: 1px solid #ccc;
      border-radius: 3px;
      -webkit-transition-duration: 200ms;
      -o-transition-duration: 200ms;
      transition-duration: 200ms; }
      .order-card button:hover {
        background: #f5f5f5; }
      .order-card button:focus, .order-card button:active {
        outline: 0; }
  
        .sponsor-item {
          margin-bottom: 20px;
          padding: 20px 0;
          border-bottom: 1px solid #e6e6e6; }
  
  .sponsor-item:last-child {
    border-bottom: 0; }
  
  .sponsor-list {
    position: relative;
    float: left;
    padding-bottom: 20px;
    margin-bottom: 25px; }
    .sponsor-list:after {
      content: "";
      position: absolute;
      width: 50px;
      height: 3px;
      background: #e6e6e6;
      left: 50%;
      top: 100%; }
  
  .sponsor-all-list .sponsor-item:last-child {
    border-bottom: 1px solid #e6e6e6; }
  
  .sponsor-search-list {
    float: left;
    padding: 15px 0;
    width: 100%;
    border-bottom: 1px solid #e6e6e6; }
    .sponsor-search-list p {
      font-size: 16px;
      margin-bottom: 20px; }
      .sponsor-search-list p span {
        color: #0088cc; }
    .sponsor-search-list ul {
      display: table;
      margin: 30px auto; }
      .sponsor-search-list ul li {
        display: inline-block;
        padding: 0 8px; }
        .sponsor-search-list ul li a {
          padding: 10px 15px;
          border: 1px solid #ccc;
          border-radius: 3px;
          color: #666;
          text-decoration: none; }
          .sponsor-search-list ul li a:hover {
            background: #f5f5f5;
            color: #666; }
  
  .paginationCount {
    border-bottom: 1px solid #e6e6e6;
    float: left;
    width: 100%;
    padding: 7px 0px 7px; }
    .paginationCount ul {
      display: table;
      margin: 0 auto; }
      .paginationCount ul li {
        display: inline-block;
        padding: 0 5px; }
        .paginationCount ul li a:hover {
          color: #0088cc; }
      .paginationCount ul li.active {
        border-bottom: 2px solid #0088cc;
        padding-bottom: 7px; }
        .paginationCount ul li.active a {
          color: #333;
          text-decoration: none; }
          .paginationCount ul li.active a:hover {
            color: #333; }
  
  .search-in-city {
    padding: 15px 0 25px;
    float: left;
    width: 100%;
    border-bottom: 1px solid #e6e6e6; }
  
  .city-item-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%; }
    .city-item-list ul li {
      list-style: none; }
      .city-item-list ul li a {
        color: #DB2365; }
        .city-item-list ul li a:hover {
          color: #DB2365; }
  
  .figure-list {
    padding-top: 15px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .figure-list .item-figure {
      width: 25%;
      height: 25%;
      margin-bottom: 10px;
      padding-right: 10px; }
      .figure-list .item-figure figure {
        width: 100%;
        height: 100%; }
        .figure-list .item-figure figure img {
          width: 100%;
          height: 100%; }
  
  .city-related-topic {
    padding: 15px 0;
    float: left;
    width: 100%; }
    .city-related-topic p a:hover {
      color: #0088cc; }
  
  .topic-media {
    margin-bottom: 15px;
    width: 100%;
    float: left; }
    .topic-media .topic-media-left {
      float: left; }
      .topic-media .topic-media-left figure {
        width: 60px;
        height: 60px; }
        .topic-media .topic-media-left figure img {
          width: 100%;
          height: 100%; }
    .topic-media .topic-media-body {
      float: left;
      width: 70%;
      margin-left: 20px; }
      .topic-media .topic-media-body h3 {
        margin-top: 0;
        margin-bottom: 0; }
  
  .link-partner {
    color: #a2a2a2;
    margin-bottom: 5px; }
    .link-partner a {
      color: #a2a2a2; }
  
  .website-link {
    border-bottom: 1px solid #e6e6e6;
    padding: 15px 0 20px; }
    .website-link h3 {
      font-size: 16px;
      margin-top: 0; }
      .website-link h3 a {
        color: #0088cc; }
        .website-link h3 a:hover {
          color: #0088cc; }
    .website-link .link-det {
      font-size: 13px;
      margin-bottom: 0; }
      .website-link .link-det span {
        border: 1px solid #ccc;
        padding: 1px 4px;
        border-radius: 4px;
        font-size: 12px; }
    .website-link button {
      background: #fff;
      border: 1px solid #ccc;
      -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1); }
      .website-link button:focus, .website-link button:active {
        outline: 0; }
      .website-link button span {
        color: #0088cc; }
      .website-link button a:hover {
        color: #0088cc; }
  
  .website-link:last-child {
    border-bottom: 0; }
  
  .addre {
    color: #878787; }
  
  .missing-box {
    border: 1px solid #e6e6e6;
    border-radius: 3px;
    padding: 15px;
    margin-top: 30px;
  margin-bottom: 30px; }
    .missing-box hr {
      border-color: #e6e6e6;
      margin-bottom: 10px; }
    .missing-box h3 {
      margin-top: 0; }
    .missing-box button {
      background: #0088cc;
      padding: 5px 8px;
      color: #fff;
      border: 0;
      border-radius: 3px;
      margin-bottom: 7px; }
    .missing-box a {
      color: #0088cc; }
      .missing-box a:hover {
        color: #0088cc; }
  
/* end find search  */

/* start ques */

.border-bottom {
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 15px;
}

.breadcrumbs {
    width: 100%;
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 10px;
}

.breadcrumbs ul {
    display: table !important;
}

.breadcrumbs ul li {
    display: inline-block !important;
    padding-right: 15px;
    width: auto !important;
    font-family: CeraPro;
}

.breadcrumbs ul li a {
    font-weight: 600;
    color: #0088cc;
}

.breadcrumbs ul li a:hover {
    color: #0088cc;
}

.breadcrumbs ul li span {
    padding-right: 5px;
}

.no_margin {
    margin: 0;
}

.no_pos {
    position: unset;
}

.question-button p {
    font-weight: 600;
    font-size: 16px;
    font-family: CeraPro
}

.question-button button {
  padding: 10px 15px;
  border: 1px solid #ff0000;
  background: #ff0000;
  color: #fff;
  border-radius: 5px;
  outline: 0;
  font-size: 13px;
  font-weight: 600;
  font-family: CeraPro
}

.question-button button:active, .question-button button:focus {
    outline: 0;
}

.border-right {
    border-right: 1px solid #e6e6e6;
    padding-right: 15px;
}

.ques {
    position: relative;

}

.ques h3 {
  width: 100%;
  color: #000;
  font-size: 18px;
  font-weight: 900;
  margin-bottom: 7px;
}

.ques span {
  font-size: 12px;
}

@media only screen and (max-width: 499px) {

  .ques h3 {
    width: 210px;
  }
}

.ques .icon-flag {
    position: absolute;
    background: #fff;
    border: 1px solid #e6e6e6;
    padding: 6px 9px;
    border-radius: 5px;
    top: 0;
    right: 0;
    cursor: pointer;
    color: #ccc;
}

.ques .icon-flag:hover {
    background: #efefef;
    color: #000;
}

.bellow-link {
    margin-top: 20px;
    padding-bottom: 30px;
}

.bellow-link p {
    float: left;
    font-size: 16px;
    font-weight: 600;
    color: #0088cc;
}

.bellow-link .sortTag {
    float: right;
}

.bellow-link .sortTag ul {
    z-index: 1;
}

.full-question .media-left {
    /* width: 7%; */
    float: left;
}

.full-question .media-body {
    width: 80%;
    float: left;
}

.full-question .media-body-left {
    width: 13%;
    float: left;
}

.full-question .media-body-left ul {
    display: table;
    
}

.full-question .media-body-left ul li {
    display: inline-block;
    font-size: 12px;
    padding-right: 5px;
    cursor: pointer;
}

.check_review_button {
    position: relative;
}

.check_review_button ul {
    display: table;
}

.check_review_button ul li {
    display: inline-block;
    padding-right: 5px;
}

.check_review_button ul li button {
    background: #fff;
    border: 1px solid #e6e6e6;
    border-radius: 3px;
    padding: 6px 10px;
    color: #666;
    font-weight: 600;
}

.check_review_button .icon-flag {
    position: absolute;
    background: #fff;
    border: 1px solid #e6e6e6;
    padding: 6px 9px;
    border-radius: 5px;
    top: 0;
    right: 0;
    cursor: pointer;
    color: #ccc;
}

.check_review_button .icon-flag:hover {
    background: #efefef;
    color: #000;
}

.other-ques-det p a:hover {
    color: #0088cc;
}

.page-content-title h1 {
  position: relative;
  margin-bottom: 0;
}

.product-thumb-data {
  /* background: #fff; */
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  border: 1px solid #e6e6e6;
  overflow: hidden;
  margin-bottom: -30px;
  padding: 10px;
  /* box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.05); */
}

.product-thumb {
  flex: 1 0 0;
}

.product-thumb figure {
  height: 100%;
}
.product-thumb figure img {
  height: 100%;
}

.product-data {
  padding: 0 20px;
  flex: 1 0 auto;
}

.product-data-indi {
  display: flex;
  flex-flow: wrap;
  padding: 20px 0;
  border-bottom: 1px solid #e6e6e6;
}

.product-data-indi-2 {
  border: 0;
}

.product-data-icon span {
  font-size: 18px;
  color: #696769;
}

.product-data-des {
  margin-left: 20px;
}
.product-data-des h2 {
  font-size: 16px;
  margin: 0;
  margin-bottom: 5px;
}
.product-data-des p {
  margin-bottom: 5px;
  color: #989FA6;
}
.product-data-des a {
  font-weight: 600;
  color: #0088cc;
}
.product-data-des a:hover {
  color: #0088cc;
}

.product-profile-section {
  margin-top: 30px;
}

.profile-content-des h3 {
  margin-top: 0;
  margin-bottom: 5px;
}
.profile-content-des p {
  color: #989FA6;
}

.profile-content-des-inner {
  margin: 20px 0;
}
.profile-content-des-inner span {
  width: 30px;
  height: 3px;
  background: #989FA6;
  display: block;
  margin-bottom: 20px;
}
.profile-content-des-inner p {
  color: #989FA6;
  margin-bottom: 0;
}
.profile-content-des-inner .inner-title {
  text-transform: uppercase;
  margin-bottom: 10px;
}
.profile-content-des-inner .inner-link {
  margin-top: 20px;
}
.profile-content-des-inner .inner-link a {
  color: #0088cc;
}
.profile-content-des-inner .inner-link a:hover {
  color: #0088cc;
}

.profile-flag {
  display: flex;
  justify-content: flex-end;
  height: 100%;
}
.profile-flag span {
  border: 1px solid #e6e6e6;
  color: #989FA6;
  padding: 4px 6px;
  border-radius: 5px;
}

.profile-content-discuss {
  margin-top: 40px;
}

.profile-content-discuss-header {
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 5px;
  position: relative;
}
.profile-content-discuss-header h3 {
  margin-bottom: 3px;
}
.profile-content-discuss-header p {
  margin-bottom: 0;
}

.profile-content-discuss-header-1 {
  border: 0;
  padding: 20px 0;
}
.profile-content-discuss-header-1 .inner-left-icon {
  bottom: 20px;
}


.inner-left-icon {
  position: absolute;
  right: 0;
  bottom: 0;
  color: #0088cc;
}

.inner-btn {
  background: #0088cc;
  border: 0;
  color: #fff;
  padding: 7px 13px;
  border-radius: 3px;
  margin-top: 15px;
  outline: 0;
}

.profile-content-discuss-inner {
  padding: 20px 0 30px;
  border-bottom: 1px solid #e6e6e6;
}
.profile-content-discuss-inner .media img {
  border-radius: 3px;
}
.profile-content-discuss-inner .media .media-body p {
  margin-bottom: 0;
}
.profile-content-discuss-inner .media .media-body p span {
  display: block;
}
.profile-content-discuss-inner .media .media-body p span i {
  color: darkorange;
}

.inner-description {
  display: flex;
  flex-flow: row;
}

.idescription p {
  color: #989FA6;
  margin-bottom: 15px;
}
.idescription span {
  color: #989FA6;
  opacity: 0.7;
}

.intersted-part h3 {
  margin-top: 0;
  margin-bottom: 10px;
}
.intersted-part .inner-btn {
  margin: 0;
}

.want-part {
  margin-top: 25px;
}
.want-part h3 {
  margin-top: 0;
}
.want-part h3 span {
  color: #989FA6;
  font-size: 12px;
}
.want-part .media img {
  border-radius: 3px;
  width: 40px;
}
.want-part .media .media-body p {
  margin-bottom: 0;
}
.want-part .media .media-body p span {
  margin-right: 5px;
}
.want-part .media .media-body p span i {
  color: darkorange;
}
.want-part a {
  color: #0088cc;
  text-decoration: none;
}
.want-part a:hover {
  color: #0088cc;
}

.nearby-part {
  margin-top: 25px;
}
.nearby-part .media img {
  width: 40px;
}
.nearby-part .media .media-body h4 {
  margin-bottom: 4px;
  font-size: 14px;
  font-weight: 600;
  margin-top: 0;
}
.nearby-part .media .media-body h4 a {
  color: #0088cc;
  text-decoration: none;
}
.nearby-part .media .media-body h4 a:hover {
  color: #0088cc;
}
.nearby-part .media .media-body h4 span {
  color: #989FA6;
}
.nearby-part .media .media-body small {
  color: #989FA6;
  opacity: 0.7;
}
.nearby-part .media .media-body .star-review {
  margin-bottom: 4px;
}
.nearby-part .media .media-body .star-review p span {
  padding: 4px;
  color: #fff;
  margin-right: 3px;
  border-radius: 3px;
  display: inline-block;
  margin-bottom: 3px;
  height: 19px;
  width: 19px;
  line-height: 1px;
}
.nearby-part .media .media-body .star-review p span i {
  font-weight: 900;
  font-size: 10px;
}
.nearby-part .media .media-body .star-review p small {
  color: #989FA6;
}
.nearby-part .media .media-body a {
  color: #0088cc;
  text-decoration: none;
}
.nearby-part .media .media-body a:hover {
  color: #0088cc;
}
.nearby-part a {
  color: #0088cc;
  text-decoration: none;
}
.nearby-part a:hover {
  color: #0088cc;
}

.badge-review p span {
  background: rgba(151, 151, 151, 0.6);
  padding: 3px;
  color: #fff;
  margin-right: 3px;
  border-radius: 3px;
}
.badge-review p span i {
  font-size: 12px;
}
.badge-review p small {
  font-size: 15px;
}
.badge-review p .rating-bg {
  background: gray;
}
.badge-review p .high {
  background: #0088cc;
}
.edit_inputs {
  padding: 0 20px 0 0;
  flex: 1 1;
}
.edit_inputs_main:last-child{
  margin-bottom: 0px;
}
.edit_inputs_main {
  margin-bottom: 14px;
}
.product-thumb figure img {
  width: 100%;
}

@keyframes placeHolderShimmer{
  0%{
      background-position: -468px 0
  }
  100%{
      background-position: 468px 0
  }
}

.animated-img figure {
  animation-duration: 1.25s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: #F6F6F6;
  background: linear-gradient(to right, #F6F6F6 8%, #F0F0F0 18%, #F6F6F6 33%);
  background-size: 800px 104px;
  position: relative;
  height: 182px !important;
}

.text-one {
  animation-duration: 1.25s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: #F6F6F6;
  background: linear-gradient(to right, #F6F6F6 8%, #F0F0F0 18%, #F6F6F6 33%);
  background-size: 800px 104px;
  position: relative;
  height: 19px;
  width: 193px;
  margin-bottom: 5px;
}

.text-two {
  animation-duration: 1.25s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: #F6F6F6;
  background: linear-gradient(to right, #F6F6F6 8%, #F0F0F0 18%, #F6F6F6 33%);
  background-size: 800px 104px;
  position: relative;
  height: 22px;
  width: 193px;
  margin-bottom: 5px;
}

.text-three {
  animation-duration: 1.25s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: #F6F6F6;
  background: linear-gradient(to right, #F6F6F6 8%, #F0F0F0 18%, #F6F6F6 33%);
  background-size: 800px 104px;
  position: relative;
  height: 18px;
  width: 193px;
  margin-bottom: 5px;
}

.text-four, .text-five {
  animation-duration: 1.25s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: #F6F6F6;
  background: linear-gradient(to right, #F6F6F6 8%, #F0F0F0 18%, #F6F6F6 33%);
  background-size: 800px 104px;
  position: relative;
  height: 18px;
  width: 102px;
  margin-bottom: 5px;
}

.text-six {
  animation-duration: 1.25s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: #F6F6F6;
  background: linear-gradient(to right, #F6F6F6 8%, #F0F0F0 18%, #F6F6F6 33%);
  background-size: 800px 104px;
  position: relative;
  height: 16px;
  width: 100%;
  margin-bottom: 5px;
}
.text-six_extra {
  animation-duration: 1.25s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: #F6F6F6;
  background: linear-gradient(to right, #F6F6F6 8%, #F0F0F0 18%, #F6F6F6 33%);
  background-size: 800px 104px;
  position: relative;
  height: 44px;
  width: 100%;
  margin-bottom: 5px;
}

.text-seven {
  animation-duration: 1.25s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: #F6F6F6;
  background: linear-gradient(to right, #F6F6F6 8%, #F0F0F0 18%, #F6F6F6 33%);
  background-size: 800px 104px;
  position: relative;
  height: 88px;
  width: 100%;
  margin-bottom: 5px;
}

.review-final-card {
  /* background: #fff; */
  /* box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.05); */
  float: left;
  width: 100%;
  padding: 25px 0;
  margin: 0 15px;
  margin-bottom: 20px;
  border: 1px solid #e6e6e6;
}

.nmodal {
  padding-right: 15px !important;
}
