<h2> Hi {{ firstName }} {{ lastName }}</h2>
<p>
    We received a request to reset your  password.
    Your password reset link : 
    <a href="https://goflank.com/authentication/new-password?passwordToken={{passwordToken}}" target="_blank"><strong>Reset your password</strong></a>
    
</p>
